<h1>Sign up</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password:<span> Must be atleast 5 characters and include at least one letter and one #</span> <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <span class="waves-effect waves-light btn"><%= f.submit "Sign up" %></span>
<% end %>
