<h1>Add a product.</h1>

<% if flash[:alert] %>
   <div class="alert alert-danger"><%= flash[:alert] %></div>
 <% end %>
 
  <%= form_for @product do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Price: <%= f.number_field :price %>
  <%= f.submit "Submit" %>

<% end %>
